:root {
    --primary: #6700ff;
    --secondary: #f500ff;
    --tertiary: #b700ff;
    --text-white: rgba(255, 255, 255, 1);
    --text-black: rgba(11, 13, 23, 1);
  }


/*//////////////////////////////// GENERAL CSS //////////////////////////////////////////////*/


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*1rem = 10px; 10px/16px = 62.5%*/
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: var(--primary);
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
}


.container {
  max-width: 150rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0 auto;
}

