h1 {
    text-align: center;
    font-size: 6rem;
    font-family: 'Sixtyfour', sans-serif;
    color: var(--secondary);
}

.quiz-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    gap: 2rem;
}

.question {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 3rem;
}

button {
    padding: 2rem 4rem;
    cursor: pointer;
    border: none;
    background: var(--secondary);
    font-weight: 600;
    color: var(--text-black);
    border-radius: 0.5rem;
    width: 30rem;
    font-size: 2rem;
}

.score-counter {
    position: absolute;
    bottom: 0;
    left: 3rem;
    border: 5px dotted var(--secondary);
    max-width: 20rem;
    text-align: center;
    padding: 2rem;
}

.score-counter h3 {
    font-size: 3rem;
}

.score-counter p {
    font-size: 3rem;
}

.js-completed p {
    font-size: 2rem;
}

.js-answer {
    font-size: 3rem;
}